<div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/my-page']">
          <i class="fas fa-user fs-16 width-28 p-2"></i>
          My Account
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/brokers']">
          <i class="fas fa-user-tie fs-16 width-28 p-2"></i>
          Brokers/Customers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/admins']">
          <i class="fas fa-users fs-16 width-28 p-2"></i>
          Dispatchers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/carriers']">
          <i class="fas fa-truck-moving fs-16 width-28 p-2"></i>
          Carriers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/factories']">
          <i class="fas fa-briefcase fs-16 width-28 p-2"></i>
          Factories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/shippers']">
          <i class="fas fa-shopping-cart fs-16 width-28 p-2"></i>
          Shippers
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/consignees']">
          <i class="fas fa-truck-loading fs-16 width-28 p-2"></i>
          Consignees
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/branches']">
          <i class="fas fa-code-branch fs-16 width-28 p-2"></i>
          Branches
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" (click)="closeSideBar()" [routerLink]="['/admin/settings']">
          <i class="fas fa-cogs fs-16 width-28 p-2"></i>
          Settings
        </a>
      </li>
    </ul>
</div>
