<section class="row w-100 no-margin">
  <div class="col-12 no-padding">
    <div class="row pt-5 pb-5 no-margin">
      <div class="col-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active fs-20" aria-current="page" [routerLink]="['/admin/factories']">Factories</li>
            <li class="breadcrumb-item fs-20" aria-current="page">Add Factory</li>
          </ol>
        </nav>
      </div>
      <div class="col-6 text-right">
      </div>
      <div class="col-12">
        <hr>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row no-margin" id="addCarrierForm">
          <div class="col-6">
            <div class="form-group">
              <label for="carrierfullName" [ngClass]="validateError.companyName ? 'text-danger' : ''">Full Name</label>
              <input type="text" id="carrierfullName" class="form-control" name="carrierfullName" [(ngModel)]="factory.name">
              <p class="text-danger" *ngIf="validateError.companyName">Full Name is required</p>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="bank_name">Bank Name</label>
              <input type="text" id="bank_name" class="form-control" name="carrierbank_name" [(ngModel)]="factory.bankName">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="routing_number">Routing Number</label>
              <input type="text" id="routing_number" class="form-control" name="carrierrouting_number" [(ngModel)]="factory.routing">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="account_number">Account Number</label>
              <input type="text" id="account_number" class="form-control" name="carrieraccount_number" [(ngModel)]="factory.account">
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="carrierCompanyMainEmail" [ngClass]="validateError.email ? 'text-danger' : ''">Email</label>
              <input type="text" id="carrierCompanyMainEmail" class="form-control" name="carrierCompanyMainEmail" [(ngModel)]="factory.email">
              <p class="text-danger" *ngIf="validateError.companyEmail">Company Main Email is required and must be valid email</p>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="carrierPhone" [ngClass]="validateError.phone ? 'text-danger' : ''">Phone</label>
              <input type="text" id="carrierPhone" class="form-control" name="carrierPhone" [(ngModel)]="factory.phone">
              <p class="text-danger" *ngIf="validateError.phone">Phone is required and must be only numbers</p>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="carrieraddress" [ngClass]="validateError.address.address ? 'text-danger' : ''">Address</label>
              <input type="text" id="carrieraddress" class="form-control" name="carrieraddress" [(ngModel)]="factory.address.address">
              <p class="text-danger" *ngIf="validateError.address.address">Address is required</p>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="carrierstate" [ngClass]="validateError.address.state ? 'text-danger' : ''">State</label>
              <select id="carrierstate" class="form-control" name="carrierstate" [(ngModel)]="factory.address.state">
                <option *ngFor="let state of states" value="{{state.abbreviation}}">{{state.name}}</option>
              </select>
              <p class="text-danger" *ngIf="validateError.address.state">State is required</p>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="carriercity" [ngClass]="validateError.address.city ? 'text-danger' : ''">City</label>
              <input type="text" id="carriercity" class="form-control" name="carriercity" [(ngModel)]="factory.address.city">
              <p class="text-danger" *ngIf="validateError.address.city">City is required</p>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="carrierzip" [ngClass]="validateError.address.zip ? 'text-danger' : ''">Postal/Zip</label>
              <input type="text" id="carrierzip" class="form-control" name="carrierzip" [(ngModel)]="factory.address.zip">
              <p class="text-danger" *ngIf="validateError.address.zip">Postal/Zip is required</p>
            </div>
          </div>
          <div class="col-12  text-right">
            <button class="btn btn-primary" (click)="createFactory()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


