/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.btn {
  box-shadow: 0px 1px 3.2px #000!important;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background: #f3f5fa;
}

.breadcrumb {
  background-color: transparent!important;
}

.breadcrumb-item.active {
  color: #394857!important;
  cursor: pointer;
}

.dropdown-item.active {
  background: #394857!important;
  color: white!important;
}

.ng-select.custom .ng-select-container,
.ng-select.ng-select-single.custom .ng-select-container{
  min-height: 24.5px!important;
  height: 24.5px!important;
}

i {
  cursor: pointer;
}

label {
  font-weight: bold;
}

.bg-c {
  background-color: #394857;
  color: white!important;
}



.bg-paid {
  background-color: #0dba47;
}



.bg-to-be-paid {
  background-color: #f8ca75;
}

.modal {
  overflow-y: scroll;
}

.opacity-0 {
  opacity: 0;
}

.tonu-style {
  padding: 2px 5px;
  background: #BC2F2F;
  border-radius: 4px;
  color: white;
}

.tonu-checked {
  background: #38bc38;
}

.unpayed {
  padding: 5px 20px;
  background: #BC2F2F;
  border-radius: 4px;
  color: white;
}

.payed {
  background: #38bc38;
}

.btn-secondary {
  background-color: #394857;
  border-color: #394857;
  color: white;
}

.custom-control {
  z-index: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  left: -70px!important;
}

.pt-30 {
  padding-top: 30px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
#file_upload_button i{
  font-size: 35px;
  margin-right: 5px;
}
#file_download_button i{
  font-size: 35px;
}
.p-10-20{
  padding: 10px 20px;
}

.p-3-5{
  padding: 3px 5px;
}
.p-8-10{
  padding: 8px 10px;
}

.fs-20 {
  font-size: 20px!important;
}

.fs-16 {
  font-size: 16px!important;
}

.no-margin {
  margin: 0!important;
}

.no-padding {
  padding: 0!important;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
}

header .navbar-light .navbar-nav .nav-link {
  color: white;
}
header .navbar-light .navbar-nav .nav-link.active {
  color: #d73438;
}

#sidebarMenu {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  z-index: 0;
  height: 100vh;
}

app-notification {
  position: fixed;
  width: 500px;
  right: 0;
  bottom: 50px;
  z-index: 999999;
}

.notificationBlock {
  width: 100%;
  height: 0px;
  opacity: 0;
  overflow:hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.notificationBlock.show {
  z-index: 999999;
  opacity: 1;
  height:75px;
}

.th {
  position: relative;
}

.th:before {
  right: 1em;
  content: "\f0de";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 1rem;
  position: absolute;
  bottom: .5em;
  right: .5rem;
  display: block;
  opacity: .3;
  color: lightgray;
}

.th:after {
  content: "\f0dd";
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  right: 16px;
  font-size: 1rem;
  position: absolute;
  bottom: .5em;
  right: .5rem;
  display: block;
  opacity: .3;
  color: lightgray;
}

.asc:after {
  color: black;
}

.desc:before {
  color: black;
}

.m-i-m {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #00000073;
}

.m-i-m-content {
  margin: 0;
  background: #3a3a3a;
  position: absolute;
  top: 50%;
  height: 300px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 550px;
}



.m-fd-m {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #00000073;
}

.m-fd-m-content {
  margin: 0;
  background: #3a3a3a;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.shiper-reciver {
  position: absolute;
  padding: 20px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #00000073;
}

.carrier-create-form {
  position: absolute;
  padding: 20px;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  background: #00000073;
}

.shiper-reciver-content {
  margin: 0;
  background: #3a3a3a;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 80%;
  overflow-y: scroll;
}
.modal-header {
  padding: 2px;
}

.modal-header .close {
  border-radius: 50%;
  background: red;
  color: white;
  padding: 0 8px 6px 7px;
  margin: 0 0 0 auto;
  opacity: 1;
}
.modal-content {
  border: solid 6px #394857;
}

.bg-custom-color {
  background: #394857;
}

.load-file-uploader{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;
  height: 200px;
  border: 4px dashed #fff;
}
.load-file-uploader p{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}
.load-file-uploader input{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
.load-file-uploader button{
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
  transition: all .2s ease;
  outline: none;
}
.load-file-uploader button:hover{
  background: #149174;
  color: #0C5645;
}
.load-file-uploader button:active{
  border:0;
}

#parent {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 60px 30px;
  background: -webkit-linear-gradient(#000,#1768B2);
  background: -moz-linear-gradient(#000,#1768B2);
  background: -o-linear-gradient(#000,#1768B2);
  background: linear-gradient(#000,#1768B2);
}
#form_login {
  border-radius: 20px;
  padding: 45px 80px;
  background-color: #fff;
  max-width: 380px;
  flex: 0 0 380px;
  margin: auto;
  webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .pagination a {
    color: black;
    float: left;
    padding: 8px 8px;
    text-decoration: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #sidebarMenu {
    position: relative;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 0;
    height: 100vh;
  }
  .m-i-m-content {
    margin: 0;
    background: #3a3a3a;
    position: absolute;
    top: 50%;
    height: 300px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 350px;
  }
  .load-file-uploader {
    position: absolute;
    top: 50%;
    left: 90%;
    margin-top: -100px;
    margin-left: -250px;
    width: 200px;
    height: 200px;
    border: 4px dashed #fff;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .d-user {
    display: none!important;
  }

  #userDropdown {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal-lg, .modal-xl {
    max-width: 1024px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
